.accordion {
  background-color: var(--accordian-main);
  color: var(--main-tx-color);
  cursor: pointer;
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 25px;
  outline: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  margin-bottom: 5px;;
}

.active {
  background-color: var(--accordian-active);
}

.accordion:hover {
  background-color: var(--accordian-hover);
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rotate{
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.rotate.down{
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}